<th:block xmlns:th="http://www.thymeleaf.org"
          xmlns:sec="http://www.thymeleaf.org/extras/spring-security">>
    <nav class="navbar navbar-expand-lg navbar-dark bg-transparent ">
        <div class="container-fluid">
            <a class="navbar-brand" href="/">⚾</a>
            <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav"
                    aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarNav">

                <ul class="navbar-nav">
                    <li sec:authorize="isAuthenticated()" class="nav-item">
                        <a class="nav-link  " href="/users/profile" th:text="|Welcome, ${session.username}|">Profile</a>
                    </li>

                    <li sec:authorize="isAuthenticated()" class="nav-item">
                        <a class="nav-link " href="/teams">Teams</a>
                    </li>
                    <li sec:authorize="isAuthenticated()" class="nav-item">
                        <a class="nav-link " href="/equipment">Buy equipment</a>
                    </li>

                    <li sec:authorize="!isAuthenticated()" class="nav-item">
                        <a class="nav-link " href="/users/login">Login</a>
                    </li>

                    <li sec:authorize="!isAuthenticated()" class="nav-item">
                        <a class="nav-link " href="/users/register">Register</a>
                    </li>

                    <div sec:authorize="hasAuthority('ROLE_ADMIN')">
                        <li class="nav-item dropdown">
                            <a class="nav-link dropdown-toggle" id="navbarDropdownMenuLink" data-toggle="dropdown"
                               aria-haspopup="true" aria-expanded="false">Admin</a>
                            <div class="dropdown-menu dropdown-primary" aria-labelledby="navbarDropdownMenuLink">
                                <a class="dropdown-item" href="/teams/create">Create a team</a>
                                <a class="dropdown-item" href="/roles/add">Admin Panel</a>
                                <a class="dropdown-item" href="#">Add Bat</a>
                                <a class="dropdown-item" href="#">Add Glove</a>
                            </div>
                        </li>
                    </div>
                    <li sec:authorize="isAuthenticated()" class="nav-item fuckingList">
                        <form th:action="@{/logout}" method="POST">
                            <button class="nav-link text-white active h5 btnLogout" type="submit">Logout</button>
                        </form>
                    </li>


                </ul>
            </div>
        </div>
    </nav>
</th:block>