<!doctype html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <div th:include="fragments/head"></div>
</head>
<body>

<main>
    <th:block th:include="~{fragments/navigation}"></th:block>
    <div class="row tm-mt-big justify-content-center">
        <div class="col-xl-4 col-lg-5 col-md-6 col-sm-6">
            <div class="container bg-blur mt-5 text-white" >
                <div class="row">
                    <div class="col-12 text-center">
                        <h2 class="tm-block-title d-inline-block">Add new role to user</h2>
                    </div>
                </div>
                <div class="row mt-4 tm-edit-product-row justify-content-center">
                    <div class="col-xl-7 col-lg-7 col-md-12 ">
                        <form th:action="@{/roles/add}"  th:method="POST"
                              class="tm-edit-product-form" >
                            <div class="input-group mb-3">
                                <label for="username" class="col-xl-3 col-lg-3 col-md-4 col-sm-5 col-form-label">Users</label>
                                <select class="custom-select col-xl-9 col-lg-8 col-md-8 col-sm-7" id="username" name="username">
                                    <option value="" selected>Select user</option>
                                    <option th:each="n : ${usernames}" th:text="${n}" th:value="${n}"></option>
                                </select>
                            </div>
                            <div class="input-group mb-3">
                                <div class="ml-auto col-xl-8 col-lg-8 col-md-8 col-sm-7 pl-0">
                                    <button type="submit" class="btn btn-primary">Promote
                                    </button>
                                </div>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
</main>

<div th:include="fragments/footer"></div>
</body>
</html>