<!doctype html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <div th:include="fragments/head"></div>
</head>
<body>

<main>
    <th:block th:include="~{fragments/navigation}"></th:block>

    <h3 style="float:left; margin:10px 140px 10px"><a href="/bats/showRawlings" class="badge badge-pill badge-dark">Show only Rawlings</a></h3>
    <h3 style="float:left; margin:10px 140px 10px"><a href="/bats/showWilson" class="badge badge-pill badge-dark">Show only Wilson</a></h3>
    <h3 style="float:left; margin:10px 140px 10px"><a href="/bats/showE7" class="badge badge-pill badge-dark">Show Only E7</a></h3>

    <hr class="hr-3"/>
    <hr class="hr-3"/>
    <hr class="hr-3"/>
    <hr class="hr-3"/>
    <hr class="hr-3"/>
    <div th:if="${bats.size()==0}">
        <h2 class="text-center mt-2"><span class="badge badge-pill badge-dark">No Bats are available at the moment!</span></h2>
    </div>
    <div th:unless="${bats.size()==0}" class="container-fluid">
        <div class=" row mx-auto d-flex flex-row justify-content-center">
            <div th:each="b : ${bats}" th:object="${b}" class="card col-sm-3 col-md-3  col-lg-2 m-1 p-0">
                <div th:if="${b.getBrand().name} == 'Rawlings'">
                    <h1 class="card-title text-center" th:text="*{getBrand().name}"></h1>
                    <div class="card-img-top-wrapper">
                        <a th:href="@{details/{id}(id = *{id})}">
                            <img class="card-img-top" th:src="*{imageUrl}" alt="image"></a>
                    </div>
                    <div class="card-body pb-1">
                        <h5 class="card-title text-center" th:text="|*{name}|"></h5>
                    </div>
                    <ul class="offer-details list-group list-group-flush">
                        <li class="list-group-item">
                            <div class="card-text text-center"><span th:text="|Price: *{price}|"></span></div>
                        </li>
                    </ul>
                </div>
                <div th:if="${b.getBrand().name} == 'Wilson'">
                    <h1 class="card-title text-center" th:text="*{getBrand().name}"></h1>
                    <div class="card-img-top-wrapper">
                        <a th:href="@{details/{id}(id = *{id})}">
                            <img class="card-img-top" th:src="*{imageUrl}" alt="image"></a>
                    </div>
                    <div class="card-body pb-1">
                        <h5 class="card-title text-center" th:text="|*{name}|"></h5>
                    </div>
                    <ul class="offer-details list-group list-group-flush">
                        <li class="list-group-item">
                            <div class="card-text text-center"><span th:text="|Price: *{price}|"></span></div>
                        </li>
                    </ul>
                </div>
                <div th:if="${b.getBrand().name} == 'E7'">
                    <h1 class="card-title text-center" th:text="*{getBrand().name}"></h1>
                    <div class="card-img-top-wrapper">
                        <a th:href="@{details/{id}(id = *{id})}">
                            <img class="card-img-top" th:src="*{imageUrl}" alt="image"></a>
                    </div>
                    <div class="card-body pb-1">
                        <h5 class="card-title text-center" th:text="|*{name}|"></h5>
                    </div>
                    <ul class="offer-details list-group list-group-flush">
                        <li class="list-group-item">
                            <div class="card-text text-center"><span th:text="|Price: *{price}|"></span></div>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
</main>

<div th:include="fragments/footer"></div>
</body>
</html>