<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <div th:include="fragments/head"></div>
</head>
<th:block th:include="~{fragments/navigation}"></th:block>
<main>


    <div class="container-fluid">
        <h2 class="text-center text-white mt-5">Available teams</h2>
        <th:block th:if="${teams.size() == 0}">
            <h2 class="text-center mt-2"><span class="text-white">No Teams are available at the moment!</span></h2>
        </th:block>
        <div class="offer row mx-auto d-flex flex-row justify-content-center">
            <div th:each="t : ${teams}" th:object="${t}" class="offer card col-sm-5 col-md-2  col-lg-2 m-1 p-0">
                <div class="card-img-top-wrapper">
                    <img class="card-img-top" th:src="*{imageUrl}" alt="Team image">
                </div>
                <div class="card-body pb-1">
                    <h5 th:text="*{name}" class="card-title text-center">
                        Team name</h5>
                </div>
                <ul class="offer-details list-group list-group-flush">
                    <li class="list-group-item text-center">
                        <div class="card-text"><span th:text="*{description}">Description</span></div>
                    </li>
                </ul>
                <div class="card-body text-center">
                    <a class="card-link" th:href="@{/teams/details/{id}(id = *{id})}">Details</a>
                </div>
            </div>
        </div>
    </div>
    </div>

</main>
<div th:include="fragments/footer"></div>
</html>