<!doctype html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <div th:include="fragments/head"></div>
</head>
<body>

<main>
    <th:block th:include="~{fragments/navigation}"></th:block>

    <div class="container">
        <div class="container bg-blur mt-5 text-white">
            <h2 class="text-light text-center">Users actions</h2>
            <div class="table-responsive text-light">
                <table class="table table-striped table-sm">
                    <thead>
                    <tr>
                        <th>#</th>
                        <th>Action</th>
                        <th>Date</th>
                        <th>User</th>
                        <th>Team</th>
                    </tr>
                    </thead>
                    <tbody>
                    <tr th:each="l : ${logs}">
                        <td th:text="${l.id}">Id</td>
                        <td th:text="${l.action}">Action</td>
                        <td th:text="${l.dateTime}">Date</td>
                        <td th:text="${l.userEntity.getUsername()}">User</td>
                        <td th:text="${l.name}">Team</td>
                    </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</main>

<div th:include="fragments/footer"></div>
</body>
</html>